:root {
  --background-color: 55 55 55;
  --primary-color: 55 155 155;
  --text-color: 215 215 215;
}

.app {
  background-color: rgb(var(--background-color));
  height: 100vh;
  width: 100%;
  display: flex;
}

nav {
  background-color: rgb(var(--primary-color) / .25);
  height: 100%;
  width: 256px;
}

.nav-title {
  color: rgb(var(--text-color));
  height: 3rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(var(--primary-color));
}

.nav-routes {
  display: flex;
  justify-content: center;
  align-items: center;
}